<form
 [formGroup]="form" (ngSubmit)="formSubmitSubject.next()">
  <mat-form-field>
      <label>Sender</label>
       <input matInput type="text" [formControlName]="'sender'"/>
  </mat-form-field>
  <mat-form-field>
      <label>Mesage</label>
       <input matInput type="text" min="0" [formControlName]="'body'"/>
  </mat-form-field>
  <div>
      &lt;!&ndash; <button type="reset" mat-button>Reset</button>
      <button type="submit" mat-button [disabled]="form.invalid">{{ submitButtonText }}</button>
  </div>
</form>
