<div>
  <ul class="msg-list">
    <li *ngFor="let message of messages | async" class="msg-item">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a *ngIf="message.link" href="{{ message.link }}">{{ message.sender }}</a>
            <h2 *ngIf="!message.link">{{ message.sender }}</h2>
          </mat-card-title>
          <mat-card-subtitle>{{ message.date }}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="!message.yt" mat-card-image src="{{ message.img }}">
        <div *ngIf="message.yt">
          <iframe id="ytplayer" type="text/html" width="302" height="200"
          [src]='sanitizer.bypassSecurityTrustResourceUrl(message.yt)'
          frameborder="0"></iframe>
        </div>
        <mat-card-content>
          <p>{{ message.body }}</p>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
  <app-msgform (formSubmit)="check($event)"></app-msgform>
  <app-sidebar [messages]="messages"></app-sidebar>
</div>
