<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>


    <ul>
      <li>First</li>
      <li *ngFor="let message of messages | async | slice: - 5" class="msg-item">
          <p>{{ message.body }}</p>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>