
.example-container {
    position: fixed;
    right: 0vw;
    top: 0vw;
    width: 30vw;
    height: 100vh;
}

.example-sidenav-content {
    /* margin-right: 10%;
    margin-top: 10%; */
}

.example-sidenav {
    width: 70%;
}
.example-sidenav li {
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.example-sidenav li img {
    width: 90%;
}